API_ID=21114830
API_HASH=7cf6838a8f5acd6ea41f29fe3143ad60
BOT_TOKEN=7111848175:AAEYI_CVWR6cXVn4UCeFwl5SAYsv1pJByZA
LOG_GROUP_ID=-1002050705178
MONGO_DB_URI=mongodb+srv://kuldiprathod2003:kuldiprathod2003@cluster0.wxqpikp.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=1073815732
STRING_SESSION=BQFCL84AbRJuCyaaC5LMafCfz8ZTdSpCjqDc3FrAm5LNXtPr0XClZgzf4EBO4l2HYFriSnNEfvRebSeYcjuAmDMyxbND4ryj56h74NTyJI0zod1GbEJt0UAoYHNtt0QOHXd2qW4mBD8hQ94q4ib_xMlcuePMQlaK8FfGJ0nmPiWQFtBCMCcF5UYMybQHtriSL3L4ENR45fvTrpoqZ8ZLnEz2Aa6Y0ZSgRgarJOdkf-FV_6eFMMpedg7wh57iQSbiGADOZ1dQwAjyR1iuLuI608HLuX1fMhKp4YLPynH2iN9-YvTI3LOdu7DkCgH-ADuhcWVtx1BgGNG9J06WFHzn5uwd4ukBWAAAAAGTXb1-AA
